<h1>This the dashboard</h1>

<form action="/login" method="POST">
    Username
    <input type="text" name="username" id="">
    Password
    <input type="text" name="password" id="">
    <button type="submit">Submit</button>
</form>